.cars_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.cars_title {
    font-family: 'Bebas Neue', cursive;
    font-size: 37px;
    color: #484848;
    text-align: center;
    text-transform: capitalize;
    word-spacing: .3rem;
    letter-spacing: .1rem;
    margin-bottom: 45px;
}

.error { color: tomato; }