.character_card {
    width: 200px;
    cursor: pointer;
    transition: all .5s;
}

.character_img {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}

.character_img img {
    width: 200px;
    height: 200px;
}

.character_img img:hover {
    border: 5px solid #ca563f;
    opacity: 0.8;
}

.character_name {
    font-size: 18px;
    color: #c7c7c7;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.character_name:hover {
    color: #ca563f;
}