.footer {
    margin-top: auto;
    background: #676767;
}

.wrap {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text a {
    font-size: 16px;
    font-weight: 700;
    color: #b6b6b6;
    text-align: center;
    text-transform: capitalize;
    word-spacing: .2em;
}

.text span {
    text-transform: uppercase;
    padding-left: 8px;
}