.users, .users_cards {
    display: flex;
    flex-direction: column;
}

.users { row-gap: 45px; }

.users_cards { row-gap: 15px; }

.buttons {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.btn_prev, .btn_next {
    font-size: 12px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 4px 8px;
    border: 2px solid #000;
    background: transparent;
}

.btn_prev:disabled, .btn_next:disabled {
    color: rgba(0, 0, 0, 0.34);
    border: 2px solid rgba(0, 0, 0, 0.46);
    background: rgba(204, 204, 204, 0.38);
}