.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_left {
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.logo_img {
    width: 40px;
}

.logo_name {
    font-size: 22px;
    font-weight: 600;
    color: #d7d745;
    text-transform: capitalize;
    word-spacing: 0.1rem;
}

.navigation {
    display: flex;
    justify-content: center;
    column-gap: 35px;
}

.navigation > a {
    font-size: 18px;
    font-weight: 700;
    color: #eaeaea;
    text-transform: uppercase;
}

.navigation a[class="active"] {
    color: #fc6e55;
}

.navbar_right {
}

.navbar_right button {
    min-width: 60px;
    color: #e84323;
    padding: 4px 8px;
    border-radius: 5px;
    background: #2d2d2d;
}

.navbar_right button:hover {
    color: #b4b4b4;
    background: #af2525;
}