.pagination {
    margin-top: 80px;
}

.buttons {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.buttons > button:hover, .buttons > button:disabled {
    background: #bd5151;
}