.characters {
    padding: 20px 30px 40px;
    background: #2d2d2d;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 33px;
    color: #b9be48;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .1rem;
    word-spacing: 0.4rem;
    margin-bottom: 35px;
}

.character_cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 22px;
    row-gap: 30px;
}