* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #9b9b9b;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
}

.title {
  color: #595959;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 30px;
}