* {
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://wallpaperaccess.com/full/6798923.jpg") 50%/cover no-repeat;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button, input {
    outline: none;
}

button {
    cursor: pointer;
}