.not_found_page {}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 33px;
    color: #3d3d3d;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .1rem;
    word-spacing: 0.4rem;
    margin-bottom: 60px;
}

.err_img {}